/*
Syntax error: Undefined mixin 'text-shadow'.
        on line 12 of odoodays-2014/theme/my_theme/static/src/css/my_theme-options.sass, in `text-shadow'
        from line 12 of odoodays-2014/theme/my_theme/static/src/css/my_theme-options.sass

7:       border-top: 1px solid dashed rgba(255,255,255,.8)
8:   &.sprinkles
9:     background-image: url(/my_theme/static/src/img/backgrounds/patterns/sprinkles.png)
10:     h1
11:       color: rgb(120,120,120)
12:       +text-shadow(0 0 5px rgba(0,0,0,.3))
13:     hr
14:       border-top: 1px solid solid rgba(0,0,0,.8)

Backtrace:
odoodays-2014/theme/my_theme/static/src/css/my_theme-options.sass:12:in `text-shadow'
odoodays-2014/theme/my_theme/static/src/css/my_theme-options.sass:12
/var/lib/gems/1.9.1/gems/sass-3.2.18/lib/sass/tree/visitors/perform.rb:253:in `visit_mixin'
/var/lib/gems/1.9.1/gems/sass-3.2.18/lib/sass/tree/visitors/base.rb:37:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.2.18/lib/sass/tree/visitors/perform.rb:100:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.2.18/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/var/lib/gems/1.9.1/gems/sass-3.2.18/lib/sass/tree/visitors/base.rb:53:in `map'
/var/lib/gems/1.9.1/gems/sass-3.2.18/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/var/lib/gems/1.9.1/gems/sass-3.2.18/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/var/lib/gems/1.9.1/gems/sass-3.2.18/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/var/lib/gems/1.9.1/gems/sass-3.2.18/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/var/lib/gems/1.9.1/gems/sass-3.2.18/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/var/lib/gems/1.9.1/gems/sass-3.2.18/lib/sass/tree/visitors/perform.rb:320:in `visit_rule'
/var/lib/gems/1.9.1/gems/sass-3.2.18/lib/sass/tree/visitors/base.rb:37:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.2.18/lib/sass/tree/visitors/perform.rb:100:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.2.18/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/var/lib/gems/1.9.1/gems/sass-3.2.18/lib/sass/tree/visitors/base.rb:53:in `map'
/var/lib/gems/1.9.1/gems/sass-3.2.18/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/var/lib/gems/1.9.1/gems/sass-3.2.18/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/var/lib/gems/1.9.1/gems/sass-3.2.18/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/var/lib/gems/1.9.1/gems/sass-3.2.18/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/var/lib/gems/1.9.1/gems/sass-3.2.18/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/var/lib/gems/1.9.1/gems/sass-3.2.18/lib/sass/tree/visitors/perform.rb:320:in `visit_rule'
/var/lib/gems/1.9.1/gems/sass-3.2.18/lib/sass/tree/visitors/base.rb:37:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.2.18/lib/sass/tree/visitors/perform.rb:100:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.2.18/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/var/lib/gems/1.9.1/gems/sass-3.2.18/lib/sass/tree/visitors/base.rb:53:in `map'
/var/lib/gems/1.9.1/gems/sass-3.2.18/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/var/lib/gems/1.9.1/gems/sass-3.2.18/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/var/lib/gems/1.9.1/gems/sass-3.2.18/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/var/lib/gems/1.9.1/gems/sass-3.2.18/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/var/lib/gems/1.9.1/gems/sass-3.2.18/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/var/lib/gems/1.9.1/gems/sass-3.2.18/lib/sass/tree/visitors/perform.rb:320:in `visit_rule'
/var/lib/gems/1.9.1/gems/sass-3.2.18/lib/sass/tree/visitors/base.rb:37:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.2.18/lib/sass/tree/visitors/perform.rb:100:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.2.18/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/var/lib/gems/1.9.1/gems/sass-3.2.18/lib/sass/tree/visitors/base.rb:53:in `map'
/var/lib/gems/1.9.1/gems/sass-3.2.18/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/var/lib/gems/1.9.1/gems/sass-3.2.18/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/var/lib/gems/1.9.1/gems/sass-3.2.18/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/var/lib/gems/1.9.1/gems/sass-3.2.18/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/var/lib/gems/1.9.1/gems/sass-3.2.18/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/var/lib/gems/1.9.1/gems/sass-3.2.18/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/var/lib/gems/1.9.1/gems/sass-3.2.18/lib/sass/tree/visitors/base.rb:37:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.2.18/lib/sass/tree/visitors/perform.rb:100:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.2.18/lib/sass/tree/visitors/perform.rb:7:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.2.18/lib/sass/tree/root_node.rb:20:in `render'
/var/lib/gems/1.9.1/gems/sass-3.2.18/lib/sass/engine.rb:315:in `_render'
/var/lib/gems/1.9.1/gems/sass-3.2.18/lib/sass/engine.rb:262:in `render'
/var/lib/gems/1.9.1/gems/sass-3.2.18/lib/sass/plugin/compiler.rb:362:in `update_stylesheet'
/var/lib/gems/1.9.1/gems/sass-3.2.18/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/var/lib/gems/1.9.1/gems/sass-3.2.18/lib/sass/plugin/compiler.rb:201:in `each'
/var/lib/gems/1.9.1/gems/sass-3.2.18/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/var/lib/gems/1.9.1/gems/sass-3.2.18/lib/sass/plugin/compiler.rb:283:in `block in watch'
/var/lib/gems/1.9.1/gems/sass-3.2.18/vendor/listen/lib/listen/multi_listener.rb:108:in `call'
/var/lib/gems/1.9.1/gems/sass-3.2.18/vendor/listen/lib/listen/multi_listener.rb:108:in `on_change'
/var/lib/gems/1.9.1/gems/sass-3.2.18/vendor/listen/lib/listen/multi_listener.rb:117:in `block in initialize_adapter'
/var/lib/gems/1.9.1/gems/sass-3.2.18/vendor/listen/lib/listen/adapter.rb:198:in `call'
/var/lib/gems/1.9.1/gems/sass-3.2.18/vendor/listen/lib/listen/adapter.rb:198:in `report_changes'
/var/lib/gems/1.9.1/gems/sass-3.2.18/vendor/listen/lib/listen/adapter.rb:210:in `poll_changed_dirs'
/var/lib/gems/1.9.1/gems/sass-3.2.18/vendor/listen/lib/listen/adapters/linux.rb:48:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'text-shadow'.\A         on line 12 of odoodays-2014/theme/my_theme/static/src/css/my_theme-options.sass, in `text-shadow'\A         from line 12 of odoodays-2014/theme/my_theme/static/src/css/my_theme-options.sass\A \A 7:       border-top: 1px solid dashed rgba(255,255,255,.8)\A 8:   &.sprinkles\A 9:     background-image: url(/my_theme/static/src/img/backgrounds/patterns/sprinkles.png)\A 10:     h1\A 11:       color: rgb(120,120,120)\A 12:       +text-shadow(0 0 5px rgba(0,0,0,.3))\A 13:     hr\A 14:       border-top: 1px solid solid rgba(0,0,0,.8)"; }
